@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.sections-padding {
  padding: 1rem 2rem;
}

:root {
  --blue: #7c4ee4;
  --gray-dark: #333333;
  --gray-medium: #666666;
  --gray-light: #999999;
  --white: #ffffff;

  --tablet: 20rem;
  --desktop: 64rem;
}

.gray-light {
  color: var(--gray-light);
}

.big {
  font-size: calc(18rem / 16);
}
.small {
  font-size: 1rem;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: calc(36rem / 16);
}
h2 {
  font-size: calc(52rem / 16);
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: calc(26rem / 16);
}
h6 {
  font-size: 1.5rem;
}
p {
  line-height: 1.5;

  &.big {
    font-size: calc(18rem / 16);
  }
  &.small {
    font-size: calc(12rem / 16);
  }
}

@media screen and (min-width: 64rem) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: calc(52rem / 16);
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: calc(26rem / 16);
  }
  h6 {
    font-size: 1.5rem;
  }
  p {
    line-height: 1.5;

    &.big {
      font-size: calc(18rem / 16);
    }
    &.small {
      font-size: 1rem;
    }

    &.smallest {
      font-size: calc(12rem / 16);
    }
  }
}

.btn {
  border: none;
}

.btn-link {
  color: var(--blue);
  background-color: unset;
  border: none;
  text-decoration: underline;
  align-self: start;
}

@media screen and (min-width: 64rem) {
  .btn {
    padding: 16px 48px;
    font-family: 'Raleway', serif;
  }
  .btn-contact {
    width: calc(180rem / 16);
    height: calc(56rem / 16);
    background-color: var(--blue);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
  }

  .btn-more {
    width: calc(170rem / 16);
    height: calc(53rem / 16);
    background: #ffffff;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.09);
    border-radius: 8px;
  }
  .btn-get {
    width: calc(166rem / 16);
    height: calc(56rem / 16);
    filter: drop-shadow(1px 1px 16px rgba(0, 0, 0, 0.09));
  }
  .btn-view {
    width: calc(147rem / 16);
    height: calc(53rem / 16);
    background: var(--blue);
    color: var(--white);
    border-radius: 8px;
  }
  .btn-go {
    width: calc(188rem / 16);
    height: calc(56rem / 16);
    background: #fafafa;
    border-radius: 8px;
  }
}

header {
  font-family: 'Railway', sans-serif;
  padding: 16px 20px 40px 20px;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 800;

  .vectors {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-top: -5px;
  }

  #vector1,
  #vector2 {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #vector1 {
    top: 0.5em;
  }
  #vector2 {
    top: 0;
  }
  .header-menu {
    width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;

  img {
    width: 100%;
  }
  h6 {
    font-size: 1.25rem;
  }

  p span,
  p:last-of-type {
    color: var(--gray-light);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  color: var(--white);

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    @media screen and (min-width: 64rem) {
      gap: 2rem;
    }

    button {
      align-self: start;
      font-size: 1rem;
    }
  }

  h4,
  .smallest {
    margin-bottom: 1rem;
  }

  button {
    font-size: calc(10rem / 16);
    height: calc(38rem / 16);
    padding: 11px 34px;
    border-radius: 5px;
    border: none;
    margin-bottom: 3rem;
  }

  img {
    width: 100%;
  }
}

.developer {
  margin: 2rem;
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  img {
    width: 100%;
  }

  .developer-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }

  p span {
    color: var(--gray-light);
  }

  p:last-child {
    color: var(--gray-light);
  }

  button:last-child {
    padding: 11px;
    align-self: start;
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 5px;
    background-color: var(--white);
  }
}

.developer-row {
  display: flex;
  gap: 4rem;
  margin-bottom: 2rem;

  & > div {
    flex: 1;
  }

  img {
    width: 100%;
  }

  & .developer-text {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.cards-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.card {
  padding: 0;
}

.more-cards {
  display: none;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 2rem;
  background-color: var(--blue);
  color: var(--white);

  h6 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }

  form {
    display: flex;
    gap: 16px;

    input,
    button {
      padding: 5px;
      border-radius: 5px;
      font-size: calc(12rem / 16);
    }

    input {
      flex: 2;
      border: none;

      &::placeholder {
        color: var(--gray-light);
      }
    }
    button {
      flex: 1;
      background-color: inherit;
      color: var(--white);
      border: 1px solid var(--white);
    }
  }
  p:last-of-type {
    color: var(--gray-light);
    padding: 0 2rem;
  }
}
.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 4rem 2rem;
  font-family: 'Raleway', serif;
}
footer {
  .icons {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    .icon {
      border-radius: 50%;
      background-color: var(--blue);
      color: var(--white);
      padding: 4px;
    }
  }
}
.line-blue {
  width: 100%;
  border-bottom: 1px solid var(--blue);
  margin-bottom: 2rem;
}
.copy {
  text-align: center;
}

menu {
  display: flex;
  list-style: none;
  justify-content: space-between;

  a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
  }
}
.footer-menu {
  width: 80%;
  margin: 1rem auto;
}
.nav-header {
  display: none;
  width: unset;

  img {
    width: 1rem;
  }
  button {
    min-width: 8rem;
  }
}
@media screen and (min-width: 64rem) {
  .sections-padding {
    padding: 40px 80px;
  }
  header {
    padding-bottom: 20px;

    .burger {
      display: none;
    }
    .nav-header,
    menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
    }
  }

  .hero {
    flex-direction: row;
    align-items: center;
    gap: 4rem;

    .hero-text,
    .hero-image {
      flex: 1;
    }

    .hero-text {
      h1 {
        font-size: 4rem;
      }
    }

    .hero-image {
      max-width: calc(600rem / 16);
    }
  }

  .developer {
    border: none;
    position: relative;
    margin: 0;

    h6 {
      font-size: 2rem;
    }
    p {
      font-family: 'Roboto', sans-serif;
    }

    .developer-text {
      position: absolute;
      right: 80px;
      bottom: 0;
      width: 60%;
      z-index: 10;
      background-color: white;
      padding: 30px;
      border-radius: 10px;
    }
  }

  .popular {
    margin-bottom: 8rem;
  }

  .cards {
    @media screen and (min-width: 64rem) {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      margin-bottom: 2rem;
    }

    .more-cards {
      display: block;
    }

    .card {
      flex: 1;

      .btn-link {
        font-size: calc(14rem / 16);
        padding: 0;
      }
    }
  }

  .subscribe {
    padding: 100px 320px;
    text-align: center;

    form {
      gap: 16px;
      width: 60%;
      margin: 0 auto;

      input {
        height: 56px;
        font-size: 1rem;
        padding: 0px 30px;

        &::placeholder {
          opacity: 0.75;
          font-size: 1rem;
        }
      }
    }

    p {
      width: 65%;
      margin: 0 auto;
    }
  }
  .footer-main {
    width: 50%;
    margin: 2rem auto;
    padding: 0;

    .logo {
      width: 157px;
      height: 44px;
    }
    .footer-menu {
      gap: 4rem;
      width: unset;
    }

    .icons {
      gap: 1rem;
      width: unset;
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
